.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.page {
	h1 {
		color: $color__accent;
		text-shadow: 
			-1px 0 $color__accent-alternate, 
			0 1px $color__accent-alternate, 
			1px 0 $color__accent-alternate, 
			0 -1px $color__accent-alternate;
		text-align: center;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
