// Menu item navigation
@mixin hover-item {
	background-color: $color__accent;
	color: $color__primary-opposite;
	border-radius: 4px;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// -- Set transform
@mixin compat-translate($value) {
	transform: $value;
	-webkit-transform: $value;
	-o-transform: $value;
	-moz-transform: $value;
}
