.site-header {
    padding: 15px 0 0;
    background-color: $color__background-header;
}

.site-branding {
    text-align: center;

    .custom-logo-link {
        background-color: $color__background-header;
        position: fixed;
        top: 0;
        left: 0;
        width: $size__site-logo-margin;
        height: $size__site-logo-margin;
    }

    .custom-logo {
        max-width: $size__site-logo-margin;
        max-height: $size__site-logo-margin;
        position: absolute;
        top: 50%;
        @include compat-translate(translate(-50%, -50%));
    }

    .cta {
        position: fixed;
        top: $size__site-logo-margin + 10px;
        left: 0;
        width: $size__site-logo-margin;
        padding: 5px;

        button {
            cursor: pointer;
            width: 100%;
            height: 75px;
            font-size: 1.5em;
            font-weight: bold;
            padding: 15px 0;
            border: 2px $color__accent-alternate solid;
            color: $color__background-header;
            background-color: $color__accent;
            text-transform: uppercase;
        }
    }
}

.site-title {
    font-size: 2em;
    clear: none;
    margin-top: unset;
    margin-bottom: unset;
    margin-left: $size__site-logo-margin;
    
    
    a {
        color: $color__primary;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.site-description {
    margin-top: unset;
    font-style: italic;
    color: $color__accent;
    margin-left: $size__site-logo-margin;
}